h1 {
  text-align: center;
  margin: 75px;
  margin-bottom: 0;
  padding-right: 75px;
}

h2 {
  font-style: italic;
  text-align: center;
  padding-right: 150px;
}

img {
  max-width: 20%;
  height: auto;
  float: left;
  margin: 25px;
  padding-right: 25px;
}

p {
  text-align: justify;
  font-size: x-large;
  margin: 50px;
}

.logos {
  max-width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
}
